.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1876f2;
    padding: 5px 30px;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header_left img {
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 15px;
}
.header_left, .header_right {
    display: flex;
    align-items: center;
}
.search_box {
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-right: 15px;
}
.search_box img{
    width: 18px;
}
.search_box input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.right_menu img {
    margin-left: 7px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.header_left img:active {
    background: #d5d5d5;
    border-radius: 50%;
    box-shadow: 0 0 1px 8px #efefef;
}
.right_menu img:active {
    background: #d5d5d5;
    border-radius: 50%;
    box-shadow: 0 0 1px 8px #efefef;
}