.search_box {
    background: #efefef;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    margin: 10px;
}

.search_box input {
    width: 95%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
    color: #919191;
    border-radius: 6px;
}

.search_box input::placeholder {
    color: #919191;
}

.search_box input:hover {
    background: #fff;
    outline: white;
    border: 1px solid #aaa;
}

.myInput input {
    background: #efefef;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    width: 95%;
    border: 0;
    outline: none;
    height: 36px;
}

.myInput input::placeholder {
    color: #919191;
}
.myInput input:hover {
    box-shadow:0 0 5px rgb(255, 255, 255);
}
.myInput input:focus {
    background: #fff;
    outline: #1876f2;
    border: 1px solid #1876f2;
}