.sidebar {
    background: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
/*CHAT*/
.search_chat {
    background: #efefef;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.search_box {
    background: #efefef;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-right: 15px;
    height: 60px;
}
.search_img {
    background: #1876f2;
    text-align: center;
    padding: 5px;
    height: 35px;
    cursor: pointer;
}
.search_box img{
    width: 25px;
}
.search_box input {
    width: 95%;
    background: #fff;
    padding: 10px;
    outline: none;
    border: 0;
}
.search_box input::placeholder {
    color: #919191;
}

.chats {
    overflow-y: scroll;
    overflow-x: hidden;
}
.chats::-webkit-scrollbar {
    width: 5px;
    height: 45px;
}
.chats::-webkit-scrollbar-thumb {
    background-color: #cccccc;
}
.chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px 15px 30px;
    cursor: pointer;
    border-bottom: 1px solid #ededed;
}
.chat:hover {
    background: #ebebeb;
}
.chat_img img {
    width: 50px;
    border-radius: 50%;
}
.chat_left {
    display: flex;
}
.contact_info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.chat_right {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    align-items: flex-end;
}
.contact_name {
    margin-bottom: 5px;
}
.chat_date {
    margin-bottom: 5px;
    color: #919191;
    font-size: 16px;
}
.chat_notice {
    text-align: center;
    max-width: 100%;
    min-width: 20px;
    border-radius: 50%;
    background: #1876f2;
    color: #ededed;
    padding: 2px;
}
.contact_mes {
    color: #919191;
    font-size: 14px;
}