.sidebar {
    grid-area: sidebar;
    position: sticky;
    align-self: flex-start;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    color: #626262;
    height: 500px;
    margin-right: 15px;
}
.sidebar_tittle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;

}
.sidebar_tittle h4{
    font-weight: 600;
    font-size: 16px;
}
.sidebar_tittle a{
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}
.online_list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}