.message {
    display: flex;
    margin-left: 20px;
    color: #444444;
}
.profile_img {
    width: 60px;
    align-self: center;
    border-radius: 50%;
    margin-right: 20px;
}
.message_bubble {
    padding: 10px 14px;
    background: #eee;
    margin: 10px 20px;
    border-radius: 9px;
    position: relative;
    word-wrap: break-word;
    max-width: 300px;
    display: flex;
}
.message_bubble:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    margin-top: -10px;
    left: 0;
    border-right-color: #eee;
    border-left: 0;
    margin-left: -20px;
}
.message_body {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.name {
    margin-bottom: 5px;
    color: black;
    font-size: 18px;
}
.message_send {
    font-size: 16px;
}
.time {
    color: #999;
    font-size: 13px;
    align-self: flex-end;
}