.post_container{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 10px 0px;
}
.user_profile{
    display: flex;
    align-items: center;
}
.user_profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.user_profile span{
    font-size: 13px;
    color: #9a9a9a;
}
.post_text{
    color: #9a9a9a;
    font-size: 15px;
    margin: 15px 0;
}
.post_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.activity_icons div img{
    width: 18px;
    margin-right: 10px;
}
.activity_icons div {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
}