.chat_window {
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 660px;
    background: #fff;
    overflow: scroll;
    overflow-x: hidden;
}
.chat_window::-webkit-scrollbar {
    width: 5px;
    height: 45px;
}
.chat_window::-webkit-scrollbar-track {
    background: #e5ddd5;
}
.chat_window::-webkit-scrollbar-thumb {
    background: #bab3ae;
}


.message_bar {
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    background: #f0f0f0;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}
.bar_left img {
    cursor: pointer;
}
.bar_center {
    flex: 1;
}
.bar_center input {
    width: 100%;
    outline: none;
    border: none;
    padding: 10px;
    flex: 1;
    border-radius: 10px;
    font-family: 'Segoe UI';
}