.nav {
    grid-area: nav;
    position: sticky;
    top: 70px;
    z-index: 100;
    align-self: flex-start;
}
.links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    color: #626262;
    width: 85%;
}
.item {
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
.item:hover {
    background-color: #1876f2;
    transition-duration: 500ms;
    border-radius: 10px;
    width: 85%;
    cursor: pointer;
    color: #fff;
}
.item:after {
    content: '';
    display: block;
    position: absolute;
    background-color: #fff;
    top: 35px;
    width: 0;
    height: 2px;
    /*transition: width .3s ease-in;*/
    transition: width 0.5s;
}
.item:hover:after {
    width: 60%;
}
