.chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px 15px 30px;
    cursor: pointer;
    border-bottom: 1px solid #ededed;
}
.chat:hover {
    background: #ebebeb;
}
.chat_img img {
    width: 50px;
    border-radius: 50%;
}
.chat_left {
    display: flex;
}
.contact_info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.chat_right {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    align-items: flex-end;
}
.contact_name {
    margin-bottom: 5px;
}
.chat_date {
    margin-bottom: 5px;
    color: #919191;
    font-size: 16px;
}
.chat_notice {
    text-align: center;
    max-width: 100%;
    min-width: 20px;
    border-radius: 50%;
    background: #1876f2;
    color: #ededed;
    padding: 2px;
}
.contact_mes {
    color: #919191;
    font-size: 14px;
}
.chat:active {
    background: #74b9ff;
    cursor: pointer;
    color: #fff;
}
.chat:active .chat_date,
.chat:active .contact_mes {
    color: #fff;
}
.chat:active .chat_notice {
    background: #fff;
    color: #74b9ff;
}